.Diy{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #eee;
    padding: 20rem;
    overflow: auto;
}

.Close {
    color: #000;
    font-size: 36rem;
}

.Table {
    margin: 10rem 20rem;
    background-color: #ffe;
    border: 1px red solid;
    height: 1000rem;
    overflow: auto;
    position: relative;
    /* display: flex;
    justify-content: center; */
}